<h1>Send a message!</h1>

<div class="col-xs-4">
	<%= form_for([current_user, @message]) do |f| %>
		<% @users.each do |user| %>
			<%= f.label :recipient_id, user.first_name %>
			<%= f.radio_button :recipient_id, user.id %>
		<% end %>

		<p><%= f.label :subject, "Subject:" %></p>
		<p><%= f.text_field :subject, class: "form-control" %></p>

		<p><%= f.label :message_content, "Message:" %></p>
		<p><%= f.text_area :message_content, class: "form-control", rows: "5" %></p>

		<%= f.hidden_field :sender_id, value: current_user.id %>

		<p><%= f.submit "Send", class: "btn btn-default" %></p>

	<% end %>

</div>