<h1>Send a message!</h1>

<%= form_for @message, url: {action: "create"}, method: "post" do |f| %>

	<div><%= f.hidden_field :sender_id %></div>
	<div><%= f.hidden_field :recipient_id %></div>

	<p><%= f.label :subject, "Subject:" %></p>
	<p><%= f.text_field :subject %></p>

	<p><%= f.label :message_content, "Message:" %></p>
	<p><%= f.text_area :message_content %></p>

	<p><%= f.submit "Send" %></p>
<% end %>