<h1>Send a message!</h1>

<div class="col-xs-4">

	<%= form_for @message, url: {action: "create"}, method: "post" do |f| %>

		<div><%= f.hidden_field :sender_id %></div>
		<div><%= f.hidden_field :recipient_id %></div>

		<p><%= f.label :subject, "Subject:" %></p>
		<p><%= f.text_field :subject, class: "form-control" %></p>

		<p><%= f.label :message_content, "Message:" %></p>
		<p><%= f.text_area :message_content, class: "form-control", rows: "5" %></p>

		<p><%= f.submit "Send", class: "btn btn-default" %></p>
	<% end %>

</div>