<h1><%= @Profile.name %></h1>

<% @profiles.each do |profile| %>
	<p>Hello! My name is <%= profile.email %>.</p>
	<p>I am <%= profile.age %> years old and live in <%= profile.city %>.</p>
	<p>I am <%= profile.job_title %> at <%= profile.employer %>, <%= profile.employer_description %>.</p>
<% end %>

<%= link_to "Edit", edit_profile_path(@profile) %>

<li><%= link_to "Edit Email Address and Password", edit_user_registration_path %>