<h1>Edit My Profile</h1>

<h2>Basic Information</h2>

<%= form_for @user do |f| %>
	<p><%= f.label :name %></p>
	<p><%= f.text_field :name %></p>

	<p><%= f.label :age %></p>
	<p><%= f.text_field :age %></p>

	<p><%= f.label :city %></p>
	<p><%= f.text_field :city %></p>

	<p><%= f.label :job_title %></p>
	<p><%= f.text_field :job_title %></p>

	<p><%= f.label :employer %></p>
	<p><%= f.text_field :employer %></p>

	<p><%= f.label :employer_description %></p>
	<p><%= f.text_field :employer_description %></p>

	<p><%= f.submit %></p>
<% end %>