<%= stylesheet_link_tag "application" %>
<%= form_tag '/search', method: :get do %>
	<%= label_tag :q, "Search by city: " %>
	<%= text_field_tag :q %>
	<%= submit_tag "Go!" %>
<% end %>

<br />

<p>Sign up or log in to <%= link_to "add a city", new_city_path %>.</p>