<body background="http://farm6.staticflickr.com/5041/5284971366_46a24d89fc_o.jpg" alt="Dun Laoghaire Ireland" style="background-size: cover">

	<div class="overlay col-xs-4">

		<h2>Log in</h2>

		<br />

		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <h4><%= f.label :email %><br />
		  <%= f.email_field :email, :autofocus => true, class: "form-control" %></h4><br />

		  <h4><%= f.label :password %><br />
		  <%= f.password_field :password, class: "form-control" %></h4><br />

		  <div><%= f.submit "Log in", class: "btn btn-default btn-lg"  %></div>

		  <% if devise_mapping.rememberable? -%>
		  	<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
		  <% end -%>
		<% end %>
		
		<br />

		<%= link_to "Forgot your password?", new_user_password_path, class: "btn btn-default btn-md" %>
		
		<br />
		<br />

		<h3>Not a member?</h4>

		<%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %>
	</div>