<h1>Retourist</h1>
<p>connecting travelers</p>

<%= form_tag '/search', method: :get do %>
	<%= label_tag :q, "Search cities: " %>
	<%= text_field_tag :q %>
	<%= submit_tag "Go!" %>
<% end %>

<p><%= link_to "Add a City", new_city_path %></p>