<!DOCTYPE htm
	l>
<html>
<head>
  <title>Retourist</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body id="<%= main_page? %>">

	<nav class="navbar navbar-default  navbar-fixed-top" role="navigation">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <%= link_to "Retourist", root_path, class: 'navbar-brand' %>
	  </div>

	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <ul class="nav navbar-nav">
	    	<li><%#= link_to "Travel like a local.", about_path %></li>
	      <li><%= link_to "About", about_path %></li>
	      <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cities <b class="caret"></b></a>
	        <ul class="dropdown-menu">
						<% City.all.each do |city| %>
							<li><%= link_to city.name, city %></li>
						<% end %>
	          <li class="divider"></li>
	          <li><%= link_to "View All", cities_path %></li>
	        </ul>
	      </li>
	    	<li><%= link_to "Find a City Expert", users_path %></li>
	    </ul>
	    <%= form_tag '/search', class: "navbar-form navbar-right", method: :get do  %>
			<div>
				<%= text_field_tag 'q', nil, :placeholder => "Where are you going?", class: "navbar-form" %>
				<%= submit_tag "Go!" %>
			</div>
		<% end %>
	    <ul class="nav navbar-nav navbar-right">
	    	<% if user_signed_in? %>
			      <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
			        <ul class="dropdown-menu">
			          <li><%= link_to "View Profile", current_user %></li>
			          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
			          <li><%#= link_to "Messages", user_message_path(current_user) %></li>
			        </ul>
			       <li><%= link_to "Log Out", destroy_user_session_path, method: :delete, class: 'navbar-link' %></li>
				<% else %>
					<li><%= link_to "Log In", new_user_session_path, class: 'navbar-link' %></li>
					<li><%= link_to "Sign Up", new_user_registration_path, class: 'navbar-link' %></li>
		<% end %>
	    </ul>
	  </div><!-- /.navbar-collapse -->
	</nav>

	<div class="container">
		<% if notice %>
			<p class="notice"><%= notice %></p>
		<% end %>

		<% if alert %>
			<p class="alert"><%= alert %></p>
		<% end %>

		<%= yield %>
	</div>

</body>
</html>
